{% extends 'inventory/base.html' %}

{% block page_title %}Max's Inventory : Home{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Inventories</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
    <thead><th>Inventory Name</th><th>View</th><th>Edit</th><th>Delete</th></thead>
    {% for inventory in inventories %}
        <tr><td>{{ inventory.name }}</td>
        <td><a href="{% url 'inventory.views.view_inventory' inventory.id %}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
        </a></td>
        <td><a href="{% url 'inventory.views.edit_inventory' inventory.id %}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
        </a></td>
        <td><a href="{% url 'inventory.views.delete_inventory' inventory.id %}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
        </a></td>
    {% endfor %}
    </table>
  </div>
</div>

<a class="btn btn-primary" href="{% url 'inventory.views.create_inventory' %}" role="button">Create Inventory</a>

{% endblock %}